.editor-panel{
    display: flex;
    gap: 1rem;
    width: 100vw;
    height: 44.6vh;
    overflow: hidden;
    background: yellow;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}